@import '../variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap');

.header {
  border-bottom: 2px solid $light;
  padding: 35px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 768px) {
      display: flex;
      padding: 20px 0;
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 0;
    }
  }

  h1 {
    font-family: 'Vollkorn SC', serif;
    color: #564335;
    font-size: 1.8rem;
    font-weight: 700;
    @media (max-width: 768px) {
      font-size: 28px;
    }
  }
}
